body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.news-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 40px;;
    grid-template-columns: auto auto auto;
  }
  
  .news__item {
    padding: 2px;
    border-top: solid limegreen;
    list-style-type: none;
    font-size: 14px;
    box-shadow: 0px 2px 4px grey;
    overflow: hidden;
    justify-content: space-around;
    height: 48vh;
  }
  

  .news__item img{
    object-fit: scale-down;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
    margin-left: 5%;
    width: 90%;
    height: 50%;
  }

  .news__item p,h5{
    margin: 0px;
    padding: 0px;
  }

  li{
    display: inline-block;
}